@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.btn {
    @apply px-4 py-2 text-base text-center flex justify-center items-center rounded-md;
}

.btn-primary {
    @apply bg-primary text-light;
}

.btn-info {
    @apply bg-info text-light;
}

.btn-success {
    @apply bg-success text-light;
}

.btn-warning {
    @apply bg-warning text-light;
}

.btn-danger {
    @apply bg-danger text-light;
}

.card {
    @apply p-5;
    @apply rounded-md;
}

.card-header {
    @apply mb-3;
}

.card-title {
    @apply font-bold;
    @apply text-base;
    @apply uppercase;
    @apply mb-2;
}

.card-body {
    @apply mb-3;
}

.card-footer {
    @apply text-sm;
}

input[type='text'], input[type='date'] {
    @apply  w-full;
    background-color: transparent;
    border: none;
}

.input-group {
    @apply my-5;
    border-bottom: 1px solid #9CA3AF;
}

label {
    @apply text-xs block;
}
